/* External CSS */

/* CSS VARIABLES */
:root{
--primaryColor:#00B295;
--secundaryColor:#03F7EB;
--accentColor:#C9DAEA;

--sizingSmal:5px;
--sizingMedium:8px;
--sizinfLarg:20px;

--primaryFontFamily:"Times";
--secondaryFontFamily:"Helvetica";
}

/* GLOBAL CSS */
.fullScreen {
min-width: 100vh;
}

.Cardwith {
  max-width: 300px;
}

.split {
  width: 50%;
}

.flex {
  display: flex;
}

.jcCenter {
  justify-content: center;
}

.jsSpaceBetween {
  justify-content: space-between;
}

.jcEnd {
  justify-content: end;
}

.aiCenter {
  align-items: center;
}

.flexCol {
  flex-direction: column;
}

.listNoDot {
  list-style: none;
}

/* body is a CSS Selector */
/* {} idicates a CSS Declaration */
body {
  /* property:value; is a CSS Rule */
  background-color:var(--primaryColor);
  color: #0d0d0d;
}

/* HEADER */
header {
  padding:var(--sizingMedium) 0;
  border-bottom: var(--sizingSmal) solid var(--secundaryColor);
}

.headerLogo {
  padding: var(--sizingMedium);
  border: 2px solid black;
  border-radius: 50%;
}

ul {
  gap: var(--sizinfLarg);
  margin: 0;
  padding: 0;
}

/* MAIN */

/* FOOTER */
footer {
  border-top: var(--sizingSmal) solid var(--secundaryColor);
}
